
.img-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: linear-gradient(to bottom, rgb(0 0 0 / .4), rgb(0 0 0 / .4)), url(../src/about1.jpg);
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    font-size: calc(15px + 0.390625vw);
    overflow:auto;
   
    
    
}

.text1 {
    color: black;
    
    text-align: center;
    align-items:flex-start;
    
    max-width: 100%; 
    margin: 20px 5% 20px auto;
    padding: 20px; 
    
}

.text2-text3-container {
    display: flex;
    flex-direction: row;
    justify-content: left; 
    width: 100%; 
}

.text2 {
    width: 100%; 
    margin-right: auto; 
    padding: auto; 
    
    
}
.text3 {
    width: 100%; 
    margin-right: 40px;
    font-style:italic;
    padding: 10px; 
    display:inline-block;
    align-self:self-end;
    text-align: center; 
    
    
}

.border{
    
    border: 3px solid darkgrey;
    border-radius: 6px;
    padding:2px;
    margin:2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.123); 


}

.p1{
    display:inline-block;
}
h3{
    
    text-align:center;
    color:black;
    
    
}
h4{
    text-align:left;
    color:black
}
p{
    border-right: 3px solid rgba(255, 136, 0, 0.5); 
    border-left: 3px solid rgba(255, 136, 0, 0.5);
    padding:0px 3px 0px 3px;
}

@media (min-width: 375px) {
    .contenedor-about{
        width: 375px;
        height: 200px;
    }
    .img-top {
        width: auto;
        height: 200px;
        align-items: flex-start;
        
        
    }
    .text1 {
        margin-left: 20px; 
        margin-right: 20px; 
        backdrop-filter: blur(3px);
        border-radius: 10px;
    }

    .text2,
    .text3 {
        margin-left: 20px; 
        margin-right: 20px; 
        backdrop-filter: blur(3px);
        border-radius: 10px;
    }}



@media (min-width: 720px) {
        .contenedor-about {
            width: 720px;
            height: 390px;
        }
        .img-top {
            width: auto;
            height: 390px;
            align-items: flex-start;
        }
        .text1 {
            margin-left: 20px; 
            margin-right: 20px; 
            backdrop-filter: blur(3px);
            border-radius: 10px;
        }
    
        .text2, .text3 {
            margin-left: 20px; 
            margin-right: 20px;
            backdrop-filter: blur(3px); 
            border-radius: 10px;}
    }
        
        


@media (min-width: 1080px) {
            .contenedor-about {
                width: 1200px;
                height: 645px;
            }
            .img-top {
                width: 1200px;
                height: 645px;
                align-items:flex-end;
                
            }
            .text2{
                text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); 
                
            }
            .text1 {
                
                
                max-width: 50%; 
                
                
            }
            
            .text2-text3-container {
                
                width: 50%; 
            }}