/*ESTILOS RESPONSIVE*/
/*375px*/
@media (min-width: 375px) {
    .container {
        display: grid;
        grid-template: repeat(2, auto) /100%;
        grid-template-areas: "header"
            "body"
            "footer";
    }
    .box figure img{
        width: 80px;
    }
    .box-redes{
        width: 45%;
        height: 80px;
    }
    .box-redes small{    
        display: block;
        text-align: end;
        margin-top: 5px;   
        font-size: 10px;
    }
    .box-2 h2{
        color: #F7F6BB;
        margin-bottom: 7px;
        font-size: 20px;
    }
    .box-2 ul{
        list-style: none;
        padding: 0 0 0 30%;
    }
    .box-redes img{
        width: 20%;
    }
    .box-redes h2{
        margin: 4px;
    }
}

/*720px*/
@media (min-width: 720px) {

    .container {
        display: grid;
        grid-template: repeat(4, auto) /50% 50%;
        grid-template-areas: "header header"
            "body body"
            "footer footer";
    }
    .box figure img{
        width: 120px;
    }
    .box-redes{
        width: 45%;
        height: 120px;
    }
    .box-redes small{    
        display: block;
        text-align: end;
        margin-top: 15px;   
    }
}

/*1080px*/
@media (min-width: 1080px) {

    .container {
        display: grid;
        grid-template: repeat(3, auto) /33%;
        grid-template-areas: "header header header"
            "body body body"
            "footer footer footer";
    }
}