
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}

body {
    display: grid;
    justify-content: center;
}

/*ESTILOS HEADER*/
header {
    font-size: 20px;
    background-color: #114232;
    grid-area: header;
    max-width: 1200px;
}

.imagen-header {
    height: 100px;
    overflow: hidden;
    text-align: center;
}

header nav {
    background-color: #114232;
    color: #F7F6BB;
    text-align: center;
}

header nav ul {
    padding: 3px;
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav li a {
    padding: 0px 3px;
    text-decoration: none;
    color: #F7F6BB;
}

header nav ul li a {
    padding: 0px 3px;
    text-decoration: none;
    color: #F7F6BB;
}

header nav li a:hover {
    background-color: #87A922;
    animation: 0.5s infinite boton-menu;
}

@keyframes boton-menu {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.35);
    }

    100% {
        transform: scale(1.0);
    }
}

/*ESTILOS FOOTER*/
footer {
    display: flex;
    background-color: #114232;
    grid-area: footer;
    max-width: 1200px;
}

.box {
    background-color: #114232;
    padding: 10px;
    width: 33.3%;
}

.box figure {
    background-color: #114232;
    padding: 0 0 0 25%;
}

.box figure img {
    width: 150px;
}

.box-2 {
    background-color: #114232;
    padding: 10px;
    width: 33.3%;
}

.box-2 ul {
    list-style: none;
    padding: 0 0 0 20%;
}

.box-2 h2 {
    color: #F7F6BB;
    margin-bottom: 35px;
    font-size: 20px;
}

.box-2 a {
    display: flex;
    text-decoration: none;
    color: #F7F6BB;
    width: min-content;
}

.box-2 a:hover {
    color: #87A922;
    animation-name: boton-footer;
}

.box-redes {
    background-color: #114232;
    padding: 10px;
    width: 33.3%;
    height: 150px;
}

.box-redes h2 {
    color: #F7F6BB;
    margin-bottom: 15px;
    font-size: 20px;
}

.box-redes a {
    text-decoration: none;
    color: #F7F6BB;
}

.box-redes small {
    display: block;
    text-align: end;
    margin-top: 50px;
}

/*ESTILOS RESPONSIVE*/
/*375px*/
@media (min-width: 375px) {
    .container {
        display: grid;
        grid-template: repeat(2, auto) /100%;
        grid-template-areas: "header"
            "body"
            "footer";
        max-width: 375px;
        min-width: 375px;
    }

    .box figure img {
        width: 80px;
    }

    .box-redes {
        width: 45%;
        height: 80px;
    }

    .box-redes small {
        display: block;
        text-align: end;
        margin-top: 5px;
        font-size: 10px;
    }

    .box-2 h2 {
        color: #F7F6BB;
        margin-bottom: 7px;
        font-size: 20px;
    }

    .box-2 ul {
        list-style: none;
        padding: 0 0 0 30%;
    }

    .box-redes img {
        width: 20%;
    }

    .box-redes h2 {
        margin: 4px;
    }
}

/*720px*/
@media (min-width: 720px) {
    .container {
        display: grid;
        grid-template: repeat(4, auto) /50% 50%;
        grid-template-areas: "header header"
            "body body"
            "footer footer";
        max-width: 720px;
    }

    .box figure img {
        width: 120px;
    }

    .box-2 ul {
        list-style: none;
        padding: 10px 0 0 30%;
    }

    .box-redes {
        width: 60%;
        height: 120px;
    }

    .box-redes img {
        width: 75px;
        margin-bottom: 10px;
    }

    .box-redes small {
        display: block;
        text-align: end;
        margin-top: 15px;
    }
}

/*1080px*/
@media (min-width: 1080px) {
    .container {
        display: grid;
        grid-template: repeat(3, auto) /33%;
        grid-template-areas: "header header header"
            "body body body"
            "footer footer footer";
        max-width: 1200px;
    }
}