.general{
    grid-area: body;
}
.sedes{
    display: flex;
    color:  #114232;
    background-color: #87A922;   
}
.sedes h2{
    text-align: center;
    background-color: #87A922;
}
.sede-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: .5rem 0 1rem .25rem;
    text-decoration: none;
}
.sede-item svg{
    overflow: visible;
    width: 0.75em;
    margin: 0 1rem 0 .75rem;
}

.sede-item a{
    text-decoration: none;
    color:  #114232;
}
@media (min-width: 375px) {
    .mapas iframe{
        max-width: 187.5px;
    }
}

@media (min-width: 720px) {
    .mapas iframe{
        max-width: 360px;
    }
}

@media (min-width: 1080px) {
    .mapas iframe{
        max-width: 600px;
    }
}