    h1{
        display: none;
    }

    .store {
        box-sizing: border-box;
        display: block;
        grid-area: body; 
        background-color: rgba(0, 0, 0, .1);
        width: 100%;
        margin: 0 auto;
        padding: 10px 0 20px 0;
    }

    aside {
        width: 20%;
        height: 100%;
        float: left;
    }
   
    .filtros{
        margin: 5px 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    aside ul{
        list-style: none;
        margin: 10px 20px 0;
    }
    aside h2 {
        font-size: 1em;
        margin: 0px 10px;
    }

    .productos {
        width: 80%;
        margin: 0 auto;
        float: left;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .producto {
        width: 282px;
        height: 420px;
        margin: 0 10px 20px 10px;
        background-color: #fff;
        float: left;
        border: 1px solid lightgray;
        border-radius: 5px;
        transition: box-shadow 0.3s;
    }

    .producto:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .cont-img{
        height: 300px;
        display: flex;
        align-items: center;
        vertical-align: middle;
    }

    .producto img {
        display: block;
        max-width: 100%;
        max-height: 280px;    
        /*margin auto para centrar las imagenes*/
        margin: auto;
    }

    .producto h3 {
        margin: 10px 10px;
        height: 60px;
        font-size: 0.95em;
        font-style: normal;
        font-weight: 400;
    }

    .precio {
        margin: 10px 10px;
        display: block;
        box-sizing: border-box;
        font-size: 1.3em;
        font-weight: 500;
        align-self: baseline;
    }

    @media (min-width: 375px) {
        .store {
            display: block;
        }
        aside{
            width: 100%;
            height: auto;
            display: block;
        }
        .productos {
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
       .producto{
        width: 90%;
       }
    }
    
    @media (min-width: 720px) {

        aside {
            width: 32%;
            height: 100%;

        }
        .productos {
            grid-template-columns: repeat(2, 1fr);
            width: 68%;
            margin: 0;
            align-items: center;
            padding: 0;
            display: grid;
            flex-direction: row;
            justify-content: flex-start;
        }
        .producto {
            width: 95%;
            display: block;
            margin: 5px;
        }   
    }
    
    @media (min-width: 1080px) {
        aside {
            width: 20%;
            height: 100%;
        }
        .productos {
            grid-template-columns: repeat(3, 1fr);
            width: 78%;
        }
    }